@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Permanent+Marker&display=swap');

:root {
    font-family: 'Dancing Script', cursive;
font-family: 'Permanent Marker', cursive;
}
.inicial-text {
    text-align: center;
    font-weight:900;
}

.property-section .property-tittle {
    text-align: center;
    font-weight:800;
}
.child-box {
    /*border-color: black;
    border-style: solid;
    border-width: 1px;*/
    border: #000 solid 1px;/*shorthand*/
    width: 100px;
    height: 100px;
    text-align: center;
    border-radius: 15px;
}

.parent-box div.child-box:nth-of-type(1) {
    background-color: whitesmoke
}

.parent-box div.child-box:nth-of-type(2) {
    background-color: olive
}

.parent-box div.child-box:nth-of-type(3) {
    background-color: olivedrab
}
.parent-box {
    display: flex;
    background-color: bisque;
    padding: 40px 20px 20px 20px; /* shothand para padding-top, padding-right, padding-botton(fundo), padding-left*/
}

.parent-box > p {
    position: absolute;
    margin-top: -30px;
    left: 25px;
}

#jc-center .parent-box {
    justify-content: center;
}

#jc-space-around .parent-box {
    justify-content: space-around;
}

#jc-space-between .parent-box {
    justify-content: space-between;
}

#jc-space-evenly .parent-box {
    justify-content: space-evenly;
}

/*display: flex
justify-content: (cada possível valor)
flex-direction: (cada possível valor)
align-itens: (cada possível valor)
flex-wrap: (cada possível valor)
flex-flow: (shorthand para flex-direction + flex-wrap)
align-content: (cada possível valor)*/